# You must generate your own key and keep that private.
# They are used to connect to the instance which should be
# private.  There are some important ssh keys in there.
reproducer*
reproducer*.pub

venv/

# private test
get_it.sh

# some other stuff
job_template.yaml
